<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>replit</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<hr>
<footer>
  2025&copy; Lopez <br />
  <strong>LinkedIn: </strong>
  <a href="https://www.linkedin.com/in/armondo-lopez-b21b29219/" target="_blank">https://www.linkedin.com/in/armondo-lopez-b21b29219/</a> 
  <br />
  <strong>Github: </strong>
  <a href = "https://github.com/debugtherug" target="_blank">https://github.com/debugtherug</a>
</footer>
