<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Armondo Lopez Portfolio</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="allHeader">
  <h1> Welcome to my portfolio!</h1>
</body>
  
</html>